@import "variables.scss";
.baner {
  background-image: url("../images/wheat-1845835_1920.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: "Barlow", sans-serif;
    color: #d4a252;
    letter-spacing: 0;
    line-height: 58px;
    text-align: center;
    margin: 100px 0 0 0;
    font-size: 40px;
    font-weight: 900;

    :nth-child(2) {
      font-size: 58px;
    }
    img{
      display: block;
      width: 15vw;
      margin-left: calc(50% - 15vw / 2);
      }
  }
 
 
  &__link {
    position: absolute;
    bottom: 10%;

    .baner__scroll {
      height: 33px;
      width: 146px;
      background-color: rgba(220, 24, 37, 0.8);
      color: #fff;
      text-transform: uppercase;
      border-radius: 50px;
      border: 0px;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 20px;
      :hover{
        cursor: pointer;
      }
    }
    :hover{
      cursor: pointer;
    }

    .baner__arrow {
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 18px solid rgba(220, 24, 37, 0.8);
      bottom: -110% !important;
      margin-left: calc(50% - 9px);
    }
  }
 

}

